.spotifyButton{
  display: inline-block;
  position: relative;
  left: 40px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid gray;
  border-radius: 3px;
  font: normal 16px/normal "Courier New", Courier, monospace;
  color: rgba(90,90,90,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,255,255,1);
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}

.spotifyButton:hover{
  background-color: #5cbf2a;
  color: white;
}